Repository aeturrell/specification_curve: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: black
        description: "applies black formatter to .py files"
        entry: black
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        exclude: docs/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        exclude: docs/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: reorder-python-imports
        exclude: docs/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
      - id: trailing-whitespace
        exclude: docs/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        exclude: docs/
  - repo: https://github.com/kynan/nbstripout
    rev: 0.4.0
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        entry: nbstripout
        language: python
        types: [jupyter]

0.3.0
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

0.3.1
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

some typing
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

adds citation info, closes Add a citation #169
  README.md
  docs/index.ipynb
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

Update documentation
  _images/features_10_1.svg
  _images/features_12_1.svg
  _images/features_14_1.svg
  _images/features_16_1.svg
  _images/features_19_1.svg
  _images/features_21_1.svg
  _images/features_23_1.svg
  _images/features_4_1.svg
  _modules/specification_curve.html
  _sources/index.ipynb
  api.html
  features.html
  index.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

attempt to put all constraints up to latest v
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

rolling back virtual env v for poetry on win
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

rolling back virtualenv to solve win issue
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

mypy tests should now pass
  noxfile.py
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

mypy needed dependencies in main
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update documentation
  _images/features_10_1.svg
  _images/features_12_1.svg
  _images/features_14_1.svg
  _images/features_16_1.svg
  _images/features_19_1.svg
  _images/features_21_1.svg
  _images/features_23_1.svg
  _images/features_4_1.svg
  _images/index_4_1.png
  _modules/specification_curve.html
  api.html
  features.html
  index.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

ignore typeguard for tests
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

few of typeguard gripes solved
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

removing typeguard
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

mypy get outs
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

statsmodels to 14
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

updating os logos
  docs/index.ipynb
Due: none

update wkrflow constraints
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

dev and coverage
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

replacing broken os badges
  README.md
Due: end-of-file-fixer, trailing-whitespace

pandas 2.0 issues fixed
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

clarification on contributing
  docs/contributing.md
Due: none

v0.3.2
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

sphinx to 5
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

switched to ruff for lint and format
  .darglint
  .flake8
  .pre-commit-config.yaml
  docs/features.ipynb
  docs/index.ipynb
  noxfile.py
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

coverage and type related fixes
  .github/workflows/tests.yml
  codecov.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

eliminating Py 3.8 support
  .github/workflows/tests.yml
  docs/contributing.md
Due: check-yaml, end-of-file-fixer, trailing-whitespace

trying to fix typeguard not found issue; pkg_resources deprecate
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

finishing switching to new packages format (mypy fix)
  poetry.lock
  pyproject.toml
  src/specification_curve/__init__.py
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

improved axes limits
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

working quarto and quartodoc documentation
  .gitignore
  Makefile
  docs/.gitignore
  docs/_config.yml
  docs/_quarto.yml
  docs/_toc.yml
  docs/api.rst
  docs/biblio.bib
  docs/contributing.md
  docs/features.ipynb
  docs/history.md
  docs/index.ipynb
  docs/objects.json
  docs/styles.css
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Fixing colab link
  Makefile
  docs/features.ipynb
  docs/index.ipynb
Due: end-of-file-fixer, trailing-whitespace

svg images; favicon
  docs/_quarto.yml
  docs/favicon.png
  docs/features.ipynb
  docs/index.ipynb
Due: none

no clean in make; updated colab links
  Makefile
  README.md
  docs/.gitignore
  docs/contributing.md
  docs/index.ipynb
Due: end-of-file-fixer, trailing-whitespace

v0.3.3
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

removed extraneous dependencies
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

block colours reflect significance; fix for rhs variable name positions
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace
