Repository aeturrell/specification_curve: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

basic formula parser in place
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

adding formula parser to docs
  docs/features.ipynb
  docs/index.ipynb
Due: none

switch to uv
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Makefile
  noxfile.py
  poetry.lock
  pyproject.toml
  pyproject_old.toml
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

remove old pyproj.toml
  pyproject_old.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

fixes for inclusion of extra data files
  pyproject.toml
  src/specification_curve/__init__.py
  uv.lock
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

fix for where rhs labels appear
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

version help
  src/specification_curve/__init__.py
  version_bumper.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

Update contributing.md to reflect uv
  docs/contributing.md
Due: none

v0.3.4
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

contributing and req'd lib
  docs/contributing.md
  pyproject.toml
  uv.lock
Due: check-toml, end-of-file-fixer, trailing-whitespace

v0.3.5
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  contributing.html
  features.html
  features_files/figure-html/cell-11-output-2.svg
  features_files/figure-html/cell-12-output-2.svg
  features_files/figure-html/cell-13-output-2.svg
  features_files/figure-html/cell-5-output-2.svg
  features_files/figure-html/cell-6-output-2.svg
  features_files/figure-html/cell-7-output-2.svg
  features_files/figure-html/cell-8-output-2.svg
  features_files/figure-html/cell-9-output-2.svg
  index.html
  index_files/figure-html/cell-3-output-2.svg
  index_files/figure-html/cell-4-output-2.svg
  reference/SpecificationCurve.html
  reference/index.html
  reference/load_example_data1.html
  reference/load_example_data2.html
  search.json
  site_libs/bootstrap/bootstrap-04dd6a5ca28aac96903e51a8fbffbcaa.min.css
  site_libs/bootstrap/bootstrap-icons.css
  site_libs/bootstrap/bootstrap-icons.woff
  site_libs/bootstrap/bootstrap.min.css
  site_libs/bootstrap/bootstrap.min.js
  site_libs/quarto-html/anchor.min.js
  site_libs/quarto-html/popper.min.js
  site_libs/quarto-html/quarto-syntax-highlighting-e26003cea8cd680ca0c55a263523d882.css
  site_libs/quarto-html/quarto.js
  site_libs/quarto-nav/quarto-nav.js
  site_libs/quarto-search/autocomplete.umd.js
  site_libs/quarto-search/quarto-search.js
Due: end-of-file-fixer, trailing-whitespace

Missing PyPI info
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

fixing labeler; license in right place
  .github/workflows/labeler.yml
  LICENSE
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

extra tests / coverage work
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
  uv.lock
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

fixing formula parser issue
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

improving tests on formula xor lists functionality
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

fixing codecov branch default
  codecov.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

found errant slash causing coverage issue
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

v0.3.6
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  features.html
  features_files/figure-html/cell-10-output-2.svg
  features_files/figure-html/cell-11-output-2.svg
  features_files/figure-html/cell-12-output-2.svg
  features_files/figure-html/cell-13-output-2.svg
  features_files/figure-html/cell-3-output-2.svg
  features_files/figure-html/cell-5-output-2.svg
  features_files/figure-html/cell-7-output-2.svg
  features_files/figure-html/cell-8-output-2.svg
  features_files/figure-html/cell-9-output-2.svg
  index_files/figure-html/cell-3-output-2.svg
  index_files/figure-html/cell-4-output-2.svg
  search.json
Due: end-of-file-fixer, trailing-whitespace

Update README.md with docs link badge
  README.md
Due: end-of-file-fixer, trailing-whitespace

Update README.md with ruff badge
  README.md
Due: end-of-file-fixer, trailing-whitespace

basic support for bootstrap under null
  docs/index.ipynb
  pyproject.toml
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
  uv.lock
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

typing and test fixes
  pyproject.toml
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
  uv.lock
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Fixing issue where boostrap under null would sometimes fail
  docs/features.ipynb
  pyproject.toml
  src/specification_curve/__init__.py
  uv.lock
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

fixing issues with cat expand and bootstrap under null
  docs/features.ipynb
  docs/index.ipynb
  noxfile.py
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

noxfile undo test config
  noxfile.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

test coverage
  noxfile.py
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

type fix
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

fixing docs issue
  docs/features.ipynb
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

extract plot into fns; export fig & axes option; code clean
  docs/features.ipynb
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

giving up on mypy as just not that helpful
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

more testing
  src/specification_curve/__init__.py
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

pyfixest likely requires dropping Python 3.9
  pyproject.toml
  src/specification_curve/__init__.py
  uv.lock
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

making auto docs render better
  docs/.gitignore
  docs/_quarto.yml
  docs/contributing.md
  docs/objects.json
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

typeguard issue fix
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

v0.3.7
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  contributing.html
  features.html
  features_files/figure-html/cell-10-output-1.svg
  features_files/figure-html/cell-10-output-2.svg
  features_files/figure-html/cell-11-output-2.svg
  features_files/figure-html/cell-12-output-2.svg
  features_files/figure-html/cell-13-output-1.svg
  features_files/figure-html/cell-13-output-2.svg
  features_files/figure-html/cell-14-output-1.svg
  features_files/figure-html/cell-15-output-1.svg
  features_files/figure-html/cell-16-output-1.svg
  features_files/figure-html/cell-17-output-1.svg
  features_files/figure-html/cell-18-output-1.svg
  features_files/figure-html/cell-19-output-2.svg
  features_files/figure-html/cell-3-output-1.svg
  features_files/figure-html/cell-3-output-2.svg
  features_files/figure-html/cell-5-output-1.svg
  features_files/figure-html/cell-5-output-2.svg
  features_files/figure-html/cell-7-output-2.svg
  features_files/figure-html/cell-8-output-2.svg
  features_files/figure-html/cell-9-output-2.svg
  index.html
  index_files/figure-html/cell-3-output-2.svg
  index_files/figure-html/cell-4-output-1.svg
  index_files/figure-html/cell-4-output-2.svg
  index_files/figure-html/cell-5-output-1.svg
  reference/index.html
  reference/load_example_data1.html
  reference/load_example_data2.html
  reference/load_example_data3.html
  search.json
Due: end-of-file-fixer, trailing-whitespace

Adding pydoclint check
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: docs/
  end-of-file-fixer: any file but: docs/
  reorder-python-imports: any of: \.py$, but not: docs/
  trailing-whitespace: any file but: docs/
