Repository aeturrell/specification_curve: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: black
        description: "applies black formatter to .py files"
        entry: black
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        exclude: docs/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        exclude: docs/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: reorder-python-imports
        exclude: docs/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
      - id: trailing-whitespace
        exclude: docs/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        exclude: docs/
  - repo: https://github.com/kynan/nbstripout
    rev: 0.4.0
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        entry: nbstripout
        language: python
        types: [jupyter]

Closes Remove bottom line from top chart (aesthetics) #607
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

Basic benchmark added
  .gitignore
  benchmarks/benchmark.py
  outputs/.gitkeep
  uv.lock
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

Import sort
  benchmarks/benchmark.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

fix downloads badge
  docs/index.ipynb
Due: none

Fix Windows tkinter initialization error in CI tests
  tests/conftest.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

attempts
  noxfile.py
  pyproject.toml
  spec_curve_dev.py
  src/specification_curve/__init__.py
  uv.lock
Due: check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

dropping 3.9; adding 3.12 support
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

v0.3.8
  pyproject.toml
  uv.lock
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  contributing.html
  features.html
  features_files/figure-html/cell-10-output-1.svg
  features_files/figure-html/cell-13-output-1.svg
  features_files/figure-html/cell-14-output-1.svg
  features_files/figure-html/cell-15-output-1.svg
  features_files/figure-html/cell-16-output-1.svg
  features_files/figure-html/cell-17-output-1.svg
  features_files/figure-html/cell-18-output-1.svg
  features_files/figure-html/cell-19-output-2.svg
  features_files/figure-html/cell-3-output-1.svg
  features_files/figure-html/cell-5-output-1.svg
  index.html
  index_files/figure-html/cell-4-output-1.svg
  index_files/figure-html/cell-5-output-1.svg
  reference/SpecificationCurve.html
  reference/index.html
  reference/load_example_data1.html
  reference/load_example_data2.html
  reference/load_example_data3.html
  search.json
  site_libs/bootstrap/bootstrap-04dd6a5ca28aac96903e51a8fbffbcaa.min.css
  site_libs/bootstrap/bootstrap-c1ef1f14acc610acb7f84b3726103d52.min.css
Due: end-of-file-fixer, trailing-whitespace

updating badges
  docs/index.ipynb
Due: none

adding 3.13, updating uv
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
  src/specification_curve/__init__.py
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Fix type checking errors for ty type checker
  docs/index.ipynb
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

Add tests to increase coverage to 98%
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

refining readme
  README.md
Due: end-of-file-fixer, trailing-whitespace

improving docs
  docs/index.ipynb
Due: none

v0.3.9
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  features.html
  features_files/figure-html/cell-10-output-1.svg
  features_files/figure-html/cell-13-output-1.svg
  features_files/figure-html/cell-14-output-1.svg
  features_files/figure-html/cell-15-output-1.svg
  features_files/figure-html/cell-16-output-1.svg
  features_files/figure-html/cell-17-output-1.svg
  features_files/figure-html/cell-18-output-1.svg
  features_files/figure-html/cell-19-output-2.svg
  features_files/figure-html/cell-3-output-1.svg
  features_files/figure-html/cell-5-output-1.svg
  index.html
  index_files/figure-html/cell-4-output-1.svg
  index_files/figure-html/cell-5-output-1.svg
  reference/SpecificationCurve.html
  search.json
Due: end-of-file-fixer, trailing-whitespace

Fix incorrect median under null for non-OLS estimators (#608)
  src/specification_curve/__init__.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

Add test for non-OLS null inference error
  tests/test_specification_curve.py
Due: end-of-file-fixer, reorder-python-imports, trailing-whitespace

dependabot uses uv and change to new pg output names
  .github/dependabot.yml
  pyproject.toml
  src/specification_curve/__init__.py
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

parallelize _spec_curve_regression with joblib
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace
